/* //different fonts */

@font-face {
    font-family: "happy";
    src: url(../font/happy.ttf);
}

@font-face {
    font-family: "curls";
    src: url(../font/Delicious\ Curls.ttf);
}

@font-face {
    font-family: "curls bold";
    src: url(../font/Delicious\ Curls\ bold.ttf);
}

@font-face {
    font-family: "pen";
    src: url(../font/FPENSTRIAL.ttf);
}

@font-face {
    font-family: "handwriting";
    src: url(../font/handwriting-draft_free-version.ttf);
}

@font-face {
    font-family: "hazel";
    src: url(../font/hazel\ grace.ttf);
}

@font-face {
    font-family: "girls";
    src: url(../font/Pretty\ Girls\ Script\ Demo.ttf);
}

@font-face {
    font-family: "strawberry";
    src: url(../font/Strawberry\ Whipped\ Cream_2.ttf);
}










/* //homepage */

h1 {
    font-family: pen;
}

nav1 {
    background-color: #A4DCDB;
}

header1 {
    background-color: #A4DCDB;
}

#logga1 {
    width: 80px;
}

div1 {
    background-color: #DF913F;
    border-radius: 50px;
}

div1 a {
    color:white;
    text-decoration: none;
    font-size: x-large;
}

div1 a:hover {
    color: black;
}

section1 a:hover {
    background-color: #b16d25;
}

footer1 {
    background-color: #A4DCDB;
}

footer1 p {
    font-family: pen;
}

nav2 {
    background-color: #A4DCDB;
    height: 200px;
    /* width: 300px; */
}

nav3 {
    background-color: #A4DCDB;
}

nav4 {
    background-color: #A4DCDB;
}

nav5 {
    background-color: #A4DCDB;
}

nav6 {
    background-color: #A4DCDB;
}

nav7 {
    background-color: #A4DCDB;
}

nav8 {
    background-color: #A4DCDB;
    height: 200px;
}

nav9 {
    background-color: #A4DCDB;
}

nav10 {
    background-color: #A4DCDB;
}

nav11 {
    background-color: #A4DCDB;
}

nav12 {
    background-color: #A4DCDB;
}

nav13 {
    background-color: #A4DCDB;
}

.banan {
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    max-width:100vw !important;
}

aside2 a {
    color: black;
    text-decoration: none;
}

aside2 a:hover {
    color: #DF913F;
}








/* //paint on a canvas page */

#pain2 {
    background-color: #A4DCDB;
    box-sizing: border-box;
}

#div5 {
    /* background-color: #DF913F; */
    display: grid;
    margin: 0pt !important;
    grid-template-columns: 6;
}

#div4 {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 0pt;
    margin-left: 8pt;
    margin-right: 8pt;
    margin-bottom: 10pt;
    border-radius: 50pt;
}

#div4 div {
    background-color: #b16d25;
}

#div2 a {
    color: black;
    text-decoration: none;
}

#canvas {
    border: solid black 2px;
    background-color: white;
    display: flex;
    margin: 8pt;
}

#loggapain {
    width: 50px;
}








/* //look at other peoples drawings */

div3 a {
    color: black;
    text-decoration: none;
}